<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>
                eu.chessdata.backend.endpoints.example.MyEndpoint,
                eu.chessdata.backend.endpoints.example.QuoteEndpoint,
                eu.chessdata.backend.endpoints.ProfileEndpoint,
                eu.chessdata.backend.endpoints.ClubEndpoint,
                eu.chessdata.backend.endpoints.TournamentEndpoint
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TournamentServlet</servlet-name>
        <servlet-class>eu.chessdata.backend.servlets.TournamentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TournamentServlet</servlet-name>
        <url-pattern>/tournament/*</url-pattern><!--tournament/*-->
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>